<div class="grid-row">
  <div class="column-two-thirds">
    <h1>Welcome to the Income Collection Service</h1>

    <h2>You must sign in to continue</h2>
    <p>Click below to sign in with your <strong>hackney.gov.uk</strong> account.</p>

    <%= link_to '/auth/azureactivedirectory' do %>
      <%= image_tag 'microsoft_login.png', alt: 'Sign in with Microsoft' %>
    <% end %>
  </div>
</div>
