<div class="grid-row">
  <div class="column-full">
    <div class='other_actions tenancy_list column-align-center'>
      <%= link_to 'Send letters', leasehold_letters_new_path, class: 'button' %>
      <%= link_to  'View letters', documents_path, class: 'button' %>
    </div>
  </div>
</div>
