<h2>Your Worktray</h2>
  <% content_for :title do %>
    Active - Worktray
  <% end %>

  <% if current_user.leasehold_services? %>
    <%= render partial: 'tenancies/leasehold/buttons' %>
  <% else %>
    <%= render partial: 'tenancies/worktray/tabs' %>
  <% end %>

  <%= render 'common/pagination'%>
