<% if @showing_paused_tenancies %>
  <% content_for :title do %>Paused - Worktray<% end %>
  <h2>Your paused cases</h2>
  <%= link_to 'Active', worktray_path, id: 'active' %>
  <a id="paused">Paused</a>
<% else %>
  <% content_for :title do %>Active - Worktray<% end %>
  <h2>Your Worktray</h2>
  <a id="active">Active</a>
  <%= link_to 'Paused', worktray_path(is_paused: true), id: 'paused' %>
<% end %>

<% if @user_assigned_tenancies.none? %>
<h3>You currently have no assigned cases</h3>
<% else %>

<%= render :partial => 'worktray_table', locals: { tenancies_list: @user_assigned_tenancies } %>

<%=
  render 'common/pagination',
    page_number: @page_number,
    number_of_pages: @number_of_pages,
    previous_page_path: worktray_path(page: @page_number - 1),
    next_page_path: worktray_path(page: @page_number + 1)
%>
<% end %>
