<h1>Your Worktray</h1>

<% content_for :title do %>
  <%= worktray_title %>
<% end %>

<% unless @tenancies.nil? %>
  <% if current_user.income_collection? %>
    <%= render partial: 'tenancies/income_collection/buttons' %>
    <%= render partial: 'tenancies/worktray/tabs' %>
  <% end %>

  <%= render 'common/pagination'%>
<% end %>
