<div class="grid-row">
  <div class="column-two-thirds">
    <h1>Welcome to the Income Collection Service</h1>

    <h2>You must sign in to continue</h2>
    <p>Sign in with your <strong>hackney.gov.uk</strong> account.</p>

    <%= link_to Rails.application.config.x.auth_url do %>
      <%= image_pack_tag('sign_with_google_button.png', alt: "Sign in with Google", width: '215px') %>
    <% end %>

    <div class="privacy-notice">
      <h3>Privacy Notice</h3>
      <p>We use Google Analytics and Hotjar to collect information about how you use this site. We do this to make sure it’s meeting your needs and to understand how we can make the website work better.</p>
      <p>Google Analytics stores information about what pages on this site you visit, how long you are on the site, how you got here and what you click on while you are here.</p>
      <p>Hotjar sets cookies to help us track behaviour across pages and to control visitor polls.</p>
    </div>
  </div>
</div>
