<%= form_tag(search_path, method: 'get', class: 'form-search', autocomplete: 'none') do %>
  <div class="form-search__group">
    <%= label_tag(:q, "Search", class: 'form-search__label--bold') %>
    <%= text_field_tag('search_term', search_term, class: 'form-search__input') %>
  </div>
  <%= submit_tag('Search', id: 'submit', name: '', class: 'button') %>
<% end %>