<form method="get" class="form-search" action="<%= search_path %>" >
  <div class="form-search--group">
    <label class="form-label--bold" for="keyword">
      Search
    </label>
    <input class="search-input" id="keyword" name="keyword" type="text" value="<%= @keyword %>">
  </div>
  <input id="submit" type="submit" class="button"/>
</form>