<%= render 'search_tenancies/form' %>

<% if @results.nil? || @results[:number_of_results] == 0 %>
  <h3>There was no results found</h3>
<% else %>
  <p>Found <%= pluralize(@results[:number_of_results], 'result') %></p>
<table class="tenancy_list">
  <thead>
  <tr>
    <th>Ref No.</th>
    <th>Tenant</th>
    <th class="numeric">Balance</th>
  </tr>
  </thead>
  <tbody>
  <% @results[:tenancies].each do |tenancy| %>
    <%= render 'tenancy_table_row', tenancy: tenancy %>
  <% end %>
  </tbody>
</table>

<%=
  render 'common/pagination',
         page_number: @search_info[:page],
         number_of_pages: @results[:number_of_pages],
         previous_page_path: search_path(keyword: @search_info[:keyword], page: (@search_info[:page] - 1) ),
         next_page_path: search_path(keyword: @search_info[:keyword], page: (@search_info[:page] + 1) )
%>

<% end %>