<div class="grid-row">
  <div class="column-one-third">
    <h1>Search</h1>
    <%= render 'search_tenancies/form', search_term:  @results[:search_term] %>
  </div>
  <div class="column-two-thirds no-padding">
    <% if @results[:number_of_results] == 0 %>
      <h3>There was no results found</h3>
    <% else %>
      <h6>Found <%= pluralize(@results[:number_of_results], 'result') %></h6>

      <table class="tenancy_list">
        <thead>
        <tr>
          <th>Ref No.</th>
          <th>Tenant</th>
          <th class="numeric">Balance</th>
        </tr>
        </thead>
        <tbody>
        <% @results[:tenancies].each do |tenancy| %>
          <%= render 'tenancy_table_row', tenancy: tenancy %>
        <% end %>
        </tbody>
      </table>

      <%=
        render 'common/pagination',
               page_number: @results[:page],
               number_of_pages: @results[:number_of_pages],
               previous_page_path: search_path(
                 first_name: @results[:first_name],
                 last_name: @results[:last_name],
                 address: @results[:address],
                 post_code: @results[:post_code],
                 tenancy_ref: @results[:tenancy_ref],
                 page: (@results[:page] - 1)
               ),
               next_page_path: search_path(
                 first_name: @results[:first_name],
                 last_name: @results[:last_name],
                 address: @results[:address],
                 post_code: @results[:post_code],
                 tenancy_ref: @results[:tenancy_ref],
                 page: (@results[:page] + 1)
               )
      %>

    <% end %>

  </div>
</div>
