<div class="grid-row rounded-box">
  <div class="column-full">
    <h2>Contact details</h2>
    <% if @tenancy.contacts.empty? %>
      Contact data appears to be missing for this tenant.
    <% else %>
      <% @tenancy.contacts.each do |contact| %>
        <%= render('common/contact_details', contact: contact) %>
      <% end %>
    <% end %>
  </div>
</div>
