<% if FeatureFlag.active?('create_formal_agreements') %>
  <div class="grid-row">
    <div class="column-full">
      <div class="grid-row rounded-box">
        <div class="column-full">
          <div class="grid-row">
            <div class="column-half">
              <div class="column-align-left">
                <h2>Court case</h2>
              </div>
            </div>
            <div class="column-half">
              <% if @court_case.present? %>
                <div class="column-half">
                  <u>View details</u>
                </div>
              <% end %>
              <% if @court_cases.present? %>
                <div class="column-align-right">
                  <u>View history</u>
                </div>
              <% end %>
            </div>
          </div>
          <% if @court_case.nil? %>
            No valid court case at this time
          <% else %>
            <label class="govuk-label" for="court_date">Court date: <%= format_date(@court_case.court_date) %><br/></label>
          <% end %>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-full">
          <% if @court_case.nil? %>
            <% court_case_button_title = 'Add court date' %>
            <%= link_to court_case_button_title, new_court_case_path(@tenancy.ref), class:'button' %>
          <% else %>
            <% court_case_button_title = 'Edit court date' %>
            <%= link_to court_case_button_title, edit_court_date_path(@tenancy.ref, @court_case.id), class:'button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
