<tr class="letter" data-uuid="<%= @preview[:uuid] %>">
  <td><%= @preview.dig(:case, :payment_ref) %></td>
  <td><%= @preview.dig(:uuid) %></td>
  <td>
    <%= button_to('Send', send_letter_path(uuid: @preview.dig(:uuid)),  method: :post, remote: true, class: 'button',
      data: {
        disable_with: "Sending..."
      }) %>
  </td>
</tr>
