uuid = '<%= @preview.dig(:uuid) %>';
errors = '<%= @preview.dig(:errors).to_json %>';
errors = JSON.parse(errors.replace(/&quot;/g, '"'));
pay_ref = '<%= @preview.dig(:case, :payment_ref) %>'

if (errors.length === 0) {
  $("#successful_table").append("<tr data-uuid="+uuid+"><td>"+pay_ref+"</td><td>"+uuid+"</td></tr>");
  increment_success_counter();

} else {
  number_of_errors = errors.length
  error_row = "<tr><td rowspan='"+number_of_errors+"'>"+pay_ref+"</td>"
  for (i in errors) {
    if (i == 0) {
      error_row += "<td>"+errors[i].name+"</td><td>"+errors[i].message+"</td></td>"
    } else {
      error_row += "<tr><td>"+errors[i].name+"</td><td>"+errors[i].message+"</td></tr>"

    }
  }

  $("#errors_table").append(error_row);

  increment_fail_counter();
}
