uuid = '<%= @preview.dig(:uuid) %>';
errors = '<%= @preview.dig(:errors).to_json %>';
errors = JSON.parse(errors.replace(/&quot;/g, '"'));
pay_ref = '<%= @preview.dig(:case, :payment_ref) %>'

if (errors.length === 0) {
  $("#successful_table").append("<tr data-uuid="+uuid+"><td>"+pay_ref+"</td><td>"+uuid+"</td></tr>");
  increment_success_counter();

} else {

  $('#errors_table').append("<%= j (render partial: 'failed_preview', preview: @preview) %>");
  increment_fail_counter();
}
