<div class="form-group">
  <fieldset>
    <legend>
      <h3>Choose the type of agreement</h3> <br>
    </legend>
    <div class="multiple-choice">
      <%= radio_button_tag :agreement_type, :formal %>
      <label for="agreement_type_formal"><strong>Formal</strong></label>
    </div>
    <div class="multiple-choice">
      <%= radio_button_tag :agreement_type, :informal %>
      <label for="agreement_type_informal"><strong>Informal</strong></label>
    </div>

  </fieldset>
</div>

<%= submit_tag 'Next', class: 'button' %>
