.positive, .error {
  color: $negative-red;
}

.negative {
  color: $positive-green;
}

.fake {
  color: $hackney-grey;
  cursor: not-allowed;
}

.fixed-layout {
  table-layout: fixed;
}

.progress_bar {
  width: 100%;
  background-color: #00634a54;
}

.bar_filling {
  width: 0%;
  color: #fff;
  background:#00634a;
  transition: width 2s;
}
