.scrollable-box {
  height: 375px;
  overflow: auto;
  border: medium solid gray;
  margin: 0 0 3% 0;

  th {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid gray;
  }
}

