.tenancy_list {
  margin-top: 16px;

  td,
  th {
    vertical-align: top;
  }

  &__ref,
  &__name {
    font-weight: bold;
  }

  &__name,
  &__address,
  &__post_code {
    display: block;
  }

  &__link {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &__item {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 75px;

    .priority_breakdown
    {
      height: 200px;
      width: 500px;
      text-align: center;
      vertical-align:middle;
      background-color: white;
      color: black;
      display: none;
      padding-top: 8px;
      position: absolute;
      font-size: 0.75em;
      left: 60em;
      opacity: 0.9;
      display: none;
    }

    &--red {
      background-color: red;
    }

    &--amber {
      background-color: gold;
    }

    &--green {
      background-color: green;
    }

    &:hover {
      .priority_breakdown {
        display: block;
      }
    }
  }
}
