.transactions-table {
  &__group {
    &--breakdown {
      background-color: #e2e2e2;
    }

    &--hidden {
      display: none;
    }

    &--summary {
      .transactions-table--action {
        display: none;
      }
      &.show-actions {
        .transactions-table--action {
          display: table-row;
        }
      }

      .transactions-table--transaction {
        display: none;
      }
      &.show-transactions {
        .transactions-table--transaction {
          display: table-row;
        }
      }
    }
  }

  td:first-child { padding-left: 5px; }
  td:last-child { padding-right: 5px; }

  .date-column { width: 25%; }
  //.transaction-column { width: 35%; }
  .incoming-column { width: 14%; }
  .outgoing-column { width: 14%; }
  .balance-column { width: 12%; }
}
.type-label {
  width: 100%;
  padding: 2px 2px;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: #1d70b8;
}
