<label class="govuk-label" for="status_label"><strong>Status</strong><br/></label>
<% status = if @agreement.current_state == 'breached' 
              "#{@agreement.current_state.humanize} (#{@agreement.history.last.description})"  
            else
              @agreement.current_state.humanize
            end
%>
<label class="govuk-label" for="status"><%= status %><br/></label>
<div class="grid-row">
  <div class="column-half">
    <label class="govuk-label" for="actual_balance_label"><br/><h2><strong>Current balance</strong></label>
    <label class="govuk-label" for="actual_balance"><%= number_to_currency(@agreement.history.last.checked_balance, unit: '£') %></h2><br/></label>
  </div>
  <div class="column-half">
    <label class="govuk-label" for="expected_balance_label"><br/><h2><strong>Expected balance</strong><br/></label>
    <label class="govuk-label" for="expected_balance"><%= number_to_currency(@agreement.history.last.expected_balance, unit: '£') %></h2><br/></label>
  </div>
</div>
<label class="govuk-label" for="status">Last checked: <%= format_date(@agreement.last_checked) %><br/></label>
