<table class="transactions-table fixed-layout" data-expand-actions-and-transactions>
  <thead>
    <th class="date-column">Date</th>
    <th class="status-column">Status</th>
    <th class="descreption-column">Descreption</th>
  </thead>
</table>


