<% content_for :title do %><%= @tenancy_ref %> - View agreement<% end %>

  <div class="grid-row">
    <div class="column-full">
      <%= link_to('Return to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-full">
      <h1><%= 'History of agreements' %></h1>
      <hr>
    </div>
  </div>