$hackney-green: #00634a;
$hackney-mid-green: #17b15a;
$hackney-light-green: #74c043;
$hackney-light-grey: #dedede;
$hackney-grey: #d7d7d7;
$hackney-dark-grey: #252525;
$hackney-dark-grey-hover: #181818;
$hackney-highlight-green: #edf4e7;

$white: #fff;
$black: #000;
$red: #B30000;

$priority-band-red: #be3a34;
$priority-band-amber: #ffc845;
$priority-band-green: #00b140;

$positive-green: #00662C;
$negative-red: $red;

$toolkit-font-stack: "Droid Sans", arial, helvetica, sans-serif;
