<div class="pagination">
  <div class="grid-row">
    <div class="column-one-third column-align-left">

    </div>
    <div class="column-one-third column-align-center">
      <%= paginate @paginatable_array %>
    </div>
    <div class="column-one-third column-align-right">


    </div>
  </div>
</div>
