<div class="form-group">
  <fieldset class="inline">
    <div class="multiple-choice">
      <input class="govuk-radios__input" id="all-actions" name="display" type="checkbox" value="all-actions">
      <label class="govuk-label govuk-radios__label" for="all-actions">
        Show actions
      </label>
    </div>
    <div class="multiple-choice">
      <input class="govuk-radios__input" id="all-transactions" name="display" type="checkbox" value="all-transactions">
      <label class="govuk-label govuk-radios__label" for="all-transactions">
        Show transactions
      </label>
    </div>
    <div class="pull-right">
      <%= link_to 'View full log of all action diary entries', action_diary_entries_path(tenancy_ref: @tenancy.ref) %>
      <br>
      <%= link_to 'View letters sent by MAA', documents_path(payment_ref: @tenancy.payment_ref) %>
    </div>
  </fieldset>
</div>
<table class="transactions-table fixed-layout" data-expand-actions-and-transactions>
  <thead>
    <th class="date-column">Date</th>
    <th class="action-column">Action</th>
    <th class="transaction-column">Transaction</th>
    <th class="numeric outgoing-column">Outgoing</th>
    <th class="numeric incoming-column">Incoming</th>
    <th class="numeric balance-column">Balance</th>
  </thead>
  <%= render('common/tenancy_timeline_list_item', array: summary_list) %>
</table>

<script>
  $(document).ready(function() {
    if ($('[data-expand-actions-and-transactions]').length > 0) {
      $('[data-expand="actions"]').on('click', function() {
        $(this).parents('tbody').toggleClass('show-actions');
      });

      $('[data-expand="transactions"]').on('click', function() {
        $(this).parents('tbody').toggleClass('show-transactions');
        $(this).parents('tbody').children('.show-hidden_transactions').removeClass('show-hidden_transactions')
        $(this).parents('tbody').find( '[data-expand="hidden_transactions"]' ).removeAttr('open');
      });

      $('[data-expand="hidden_transactions"]').on('click', function() {
        $('[data-table-type="hidden-'+this.dataset.period+'"]').toggleClass('show-hidden_transactions');
      });

      $('#all-actions').on('change', function() {
        if ($(this).prop('checked')) {
          $('.transactions-table__group--summary').addClass('show-actions');
          $('[data-expand="actions"]').attr('open', true);
        } else {
          $('.transactions-table__group--summary').removeClass('show-actions');
          $('[data-expand="actions"]').removeAttr('open');
        }
      });

      $('#all-transactions').on('change', function() {
        if ($(this).prop('checked')) {
          $('.transactions-table__group--summary').addClass('show-transactions');
          $('[data-expand="transactions"]').attr('open', true);
        } else {
          $('.transactions-table__group--summary').removeClass('show-transactions');
          $('[data-expand="transactions"]').removeAttr('open');
          $('.transactions-table__group--summary').children('.show-hidden_transactions').removeClass('show-hidden_transactions');
          $('.transactions-table__group--summary').find( '[data-expand="hidden_transactions"]' ).removeAttr('open');
        }
      });
    }
  });
</script>
