<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= @tenancy.primary_contact_name %></h1>
    <ul>
      <li><strong>Reference number:</strong> <%= @tenancy.ref %></li>
      <li><strong>Tenure:</strong> <%= @tenancy.tenure %></li>
    </ul>
  </div>
</div>
