<header class="header">
  <div class="wrapper">
    <a href="/" class="header__logo"></a>
    <div class="header__title">
      <span class="heading-medium">Income Collection</span>
    </div>
  </div>
</header>
