<div class="phase-banner__wrapper">
  <div class="phase-banner">

    <% if !current_page?(:search) %>
      <p class="pull-right">
        <%= link_to(fa_icon('search', text: 'Search'), search_path, {class: 'button', target: '_blank'}) %>
      </p>
    <%end %>
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>
        This is a new service - your
        <a target="_blank" href="https://goo.gl/forms/L6h7rBUo6NLnI2He2">feedback</a>will help us to improve it.
      </span>
    </p>

  </div>
</div>
