<div class="phase-banner__wrapper">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>
      This is a new service - your <a target="_blank" href="https://goo.gl/forms/L6h7rBUo6NLnI2He2">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div>